:root {
    /* -- Breakpoints -- */
    /* Up to 576px */
    --mobileVerticalFooter: 149px;
    /* From 576px to 768px */
    --mobileHorizontalFooter: 119px;
    /* From 768px to 992px */
    --desktopSmallFooter: 132px;
    /* From 992px to 1200px */
    /* From 1200px */
    --desktopBigFooter: 84px;
}

.footer {
    min-height: var(--mobileVerticalFooter);

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    color: var(--darkGray);
    fill: var(--darkGray);
}

.footer__text-container {
    margin: 0 auto;
}

.footer__nav {
    display: flex;
    justify-content: center;
    gap: 16px;

    margin-top: 32px;
}

.footer__nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
}

.footer__nav-link:hover {
    fill: var(--black);
}

@media screen and (min-width: 576px) {
    .footer {
        min-height: var(--mobileHorizontalFooter);
    }

    .footer__text-container {
        display: flex;
    }

    .footer__text-container p:first-child::after {
        content: "\00a0";
    }
}

@media screen and (min-width: 768px) {
    .footer {
        min-height: var(--desktopSmallFooter);

        justify-content: flex-end;
        padding-bottom: 32px;
    }

}

@media screen and (min-width: 992px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        padding: 0 32px 32px;
    }

    .footer__text-container {
        margin: 0;
    }

    .footer__nav {
        margin-top: 0;
    }

}

@media screen and (min-width: 1200px) {
    .footer {
        min-height: var(--desktopBigFooter);
    }

}