.wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    max-width: 1920px;

    margin: 0 auto;
}

.approach__header {
    position: relative;

    background-image: url('img/approach/mobile_header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 60vh;
}

.approach__header-shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black20);
}

.approach__h1 {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    font-weight: 700;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
}

.approach__paragraph {
    margin: 32px 16px 0;
}

.approach__text {
    text-align: justify;
    line-height: 1.4;
    font-size: 22px;
}

.approach__text--primary {
    color: var(--darkGray);
}

.approach__banner {
    margin-top: 16px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.approach__banner:first-of-type {
    margin-top: 32px;
}

.approach__banner--01 {
    background-image: url('img/approach/mobile_banner_01.jpg');
}

.approach__banner--02 {
    background-image: url('img/approach/mobile_banner_02.jpg');
}

.approach__banner--03 {
    background-image: url('img/approach/mobile_banner_03.jpg');
}

.approach__banner--04 {
    background-image: url('img/approach/mobile_banner_04.jpg');
}

.approach__banner-shadow {
    padding: 32px 16px;
    background-color: var(--black40);
}

.approach__banner-list {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -2em;
}

.approach__text--secondary {
    color: var(--white);
    text-transform: uppercase;
    text-align: left;
    margin-left: 2em;
}

.approach__text--secondary::marker {
    margin-left: 1em;
}

.approach__text--secondaryHeader {
    position: relative;
    margin-bottom: 35px;

    font-size: 30px;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
}

.approach__text--secondaryHeader::after {
    display: block;
    content: "";
    width: 50px;
    height: 3px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5px);

    background-color: var(--white);
}

@media screen and (min-width: 768px) {
    .main {
        margin: 0 32px;
    }

    .approach__paragraph {
        margin: 32px 0 0;
    }

    .approach__banner-shadow {
        padding: 32px;
    }

}

@media screen and (min-width: 992px) {
    .approach__header {
        height: 600px;
    }

    .approach__grid {
        display: grid;
        grid-template-rows: 1;
        gap: 32px;
        align-items: center;
    }

    .approach__grid--2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .approach__grid--6 {
        grid-template-columns: repeat(6, 1fr);
    }

    .approach__text--primary {
        grid-column: 2 / span 4;
    }

    .approach__banner-list {
        list-style-type: none;
        list-style-position: outside;
        text-indent: 0;
    }

    .approach__text--secondary {
        margin-left: 0;
    }

    .approach__text--secondaryHeader {
        grid-column: 1 / 2;
        margin-bottom: 0;
    }

    .approach__banner-list {
        grid-column: 2 / 3;
    }

    .approach__banner-shadow {
        padding: 64px;
    }

}

@media screen and (min-width: 1200px) {
    .approach__header {
        background-image: url('img/approach/desktop_header.jpg');
    }

    .approach__banner--01 {
        background-image: url('img/approach/desktop_banner_01.jpg');
    }

    .approach__banner--02 {
        background-image: url('img/approach/desktop_banner_02.jpg');
    }

    .approach__banner--03 {
        background-image: url('img/approach/desktop_banner_03.jpg');
    }

    .approach__banner--04 {
        background-image: url('img/approach/desktop_banner_04.jpg');
    }

}