:root {
    /* -- Colors -- */
    --white: #f5f5f5;
    --white85: rgba(245, 245, 245, 0.85);
    --black: #0f0f0f;
    --black20: rgba(15, 15, 15, 0.2);
    --black40: rgba(15, 15, 15, 0.4);
    --darkGray: #5f5f5f;
    --lightGray: #a5a5a5;
}

html {
    font-family: 'Lato', sans-serif;
    background-color: var(--white);
}

.hidden {
    display: none !important;
}